body{
     margin:0px;
     padding:0px;
     background-color:#f7f7f7;
}
 .search-nav ul {
     margin:0px;
     padding:10px;
     list-style: none;
     background-image: url("../images/stockholm-848255_1920.jpg");
     background-size:cover;
}
 .search-nav ul li{
     margin-top:60px;
     margin-bottom:60px;
     display:flex;
     justify-content: center;
}
 .search-nav ul li h1{
     color:white;
}
 .search-nav ul li form button{
     background-color:white;
     margin-left:3px;
}
 #searchResults{
     margin-top:10px;
}
 .container{
     background-color:#f7f7f7;
     margin-top:30px;
}
 .job-card{
     background-color:white;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition:0.3s;
     color: black;
     padding:10px;
}
 #jobList{
     padding:20px;
}
 .spinner {
     border: 16px solid #f3f3f3;
    /* Light grey */
     border-top: 16px solid #3498db;
    /* Blue */
     border-radius: 50%;
     width: 120px;
     height: 120px;
     animation: spin 2s linear infinite;
     margin: 0px auto;
}
 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 .hidden {
     display: none;
}